<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AdvancedTableViewCells.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>HappyLife copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D6058900D05DD3D006BFB54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3093AE1814053D61000171C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3093C5731400D49E00E4E81B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3093C61E1400D4C900E4E81B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3094D31B140140EC00764B87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>309781A4140A4EDB005A86D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>309A4CC314046DE500148E13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>309B10F3140A1D720092A1B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>309B1207140A1D880092A1B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>309B5EAF140926960064AED1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>309B5FC2140926DB0064AED1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>309C72441445E29600C3FFB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>309EE15C1406A0B9000578C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>309EE2861406A373000578C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>309EE39E1406A4AC000578C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>309EE4B51406A508000578C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>309FE66B140319F7007CC103</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>309FE78814031ADB007CC103</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30A14C8E14313C4A00DFAD70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30A14CB814313F2500DFAD70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30C5114514070D56001168AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30C5125714070D6B001168AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30C5136914070D93001168AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
